<section class="signup-container">
    <h1 class="title">Login</h1>

    <form id="login" action="/login" method="POST">
        <label for="username">Username</label>
        <input id="username" type="text" name="username" required>
        
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>

        <input type="submit" value="Login" id="signin">
    </form>
</section>