<h1 class="welcome">Olá {{user}}!</h1>

<img src="/images/product.jpg" alt="Bolo" width="200" class="product-img">

<button class="share">Share</button>
<button class="buy">Buy</button>

<script src="/javascripts/webshare.js"></script>
<script src="/javascripts/payment.js"></script>