<a href="/logout" class="logout">Sair</a>

<h1 class="welcome">Olá {{user}}!</h1>

<a href="./product/description">Descrição do produto</a>
<img src="/images/product.jpg" alt="Bolo" width="200" class="product-img">

<button class="share">Share</button>
<button class="buy">Buy</button>

<script src="/javascripts/credential-logout.js"></script>
<script src="/javascripts/webshare.js"></script>
<script src="/javascripts/payment.js"></script>