* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    color: #444;
}

.signup-container {
    padding-top: 2em;
    padding-bottom: 1em;
    position: relative;
}

.title {
    color: #359c9c;
    font-size: 1.5em;
    text-align: center;
}

#login {
    padding: 5%;
}

#login label {
    display: block;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

#login input {
    width: 100%;
    color: #7d7873;
    font-size: 0.8em;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    padding: 1em;
    vertical-align: middle;
    border-radius: 5px;
}

#login input:not(input[type="submit"]):focus {
    box-shadow: 0 0 2px #52A8EC;
    border-color: #52A8EC;
    outline: 0;
}

#login input[type="submit"] {
    background-color: #359c9c;
    color: #fff;
    margin-top: 2em;
    font-size: 1em;
}

label[for="password"] {
    display: inline-block;
}

.welcome {
    font-size: 1.2em;
    margin: 1em;
}

.welcome + a {
    text-align: center;
    display: block;
    margin-bottom: 1em;
    color: #444;
}

.product-img {
    display: block;
    margin: 0.5em auto;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #444;
}

.share {
    padding: 0.5em 1em;
    border-radius: 3px;
    background-color: #52A8EC;
    color: white;
    font-size: 1.2em;
    display: block;
    margin: 1em auto;
}

.buy {
    padding: 0.5em 1em;
    border-radius: 3px;
    background-color: #359c9c;
    color: white;
    font-size: 1.2em;
    display: block;
    margin: 1em auto;
}

.description {
    margin: 1em;
    text-align: justify;
}

.speak {
    padding: 0.5em 1em;
    border-radius: 3px;
    background-color: purple;
    color: white;
    display: block;
    margin: 1em auto;
    font-size: 1.2em;
}