* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    color: #444;
}

.signup-container {
    padding-top: 2em;
    padding-bottom: 1em;
    position: relative;
}

.title {
    color: #359c9c;
    font-size: 1.5em;
    text-align: center;
}

.signup {
    padding: 5%;
}

.signup label {
    display: block;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.signup input {
    width: 100%;
    color: #7d7873;
    font-size: 0.8em;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    padding: 1em;
    vertical-align: middle;
    border-radius: 5px;
}

.signup input:not(input[type="submit"]):focus {
    box-shadow: 0 0 2px #52A8EC;
    border-color: #52A8EC;
    outline: 0;
}

.signup input[type="submit"] {
    background-color: #359c9c;
    color: #fff;
    margin-top: 2em;
    font-size: 1em;
}

.signup .optional {
    color: #999;
}

label[for="password"] {
    display: inline-block;
}